/* ==========================================================================
   Inicio dos styles
   ========================================================================== */
html, body { height: 100%; }

body {
	background: #fff;
}

body:before {
	content: "";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px;
}

#content {
	width: 100%;
	height: auto;
	border: 2px #000 solid;
}

#base {
	width: 1273px;
	height: 860px;
	margin: 0 auto;
	overflow: auto;
}

#base #header {
	text-align: center;
	margin: 0 auto;		
}

#container-login {
	background: url(../images/login/box-login.png) no-repeat;
	width: 1128px;
	height: 291px;
	display: table;
}

#container-login .esquerda {
	float: left;
	width: 526px;
	height: 197px;
	background: url(../images/login/registrado.jpg) no-repeat;
	margin-top: 30px;
	margin-left: 23px;
}

#container-login .esquerda .registro_esquerda {
	float: left;
	width: 200px;
	margin-top: 110px;	
}

#container-login .esquerda .registro_direita {
	float: left;
	width: 200px;
	margin-top: 110px;	
}

#container-login .direita {
	float: left;
	width: 526px;
	height: 197px;
	background: url(../images/login/nao-registrado.jpg) no-repeat;	
	margin-top: 30px;
	margin-left: 25px;
}

#container-login .direita .registrar {
	height: 80px;	
	margin-top: 110px;
	text-align: center;
}

#rodape {
	background-color: #000;
	position: relative;
	margin-top: -111px;
	height: 111px;
	clear: both;	
	text-align: right;
}

#rodape img {
	text-align: right;
	margin: 10px 40px 0 0;	
}

.Entrar {
	width: 120px;
	height: 80px;
	background-color: #000;
	color: #ce6604;
	border: 6px #ce6604 solid;
}

.Registrar {
	width: 350px;
	height: 60px;
	background-color: #000;
	color: #ce6604;
	border: 6px #ce6604 solid;
}