@import "normalize.less";
@import "variables.less";
@import "mixins.less";
@import "fonts.less";

*{
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}
.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
}

body{
  background-color: @cyan;
  padding-top:30px;

  h1, h2, h3{
    color: @orange;
    font-family: oswald;
    text-transform: uppercase;
  }
  a{
    text-decoration: none;
  }
}

header{
  overflow: auto;
  height:376px;
  background: url(../images/header.jpg) no-repeat;
  .background-cover();
  font-family: oswald;
  font-weight: bold;

  #logo{
    float:left
  }

  nav{
    float:right;
    clear: both;
    ul{
      li{
        a{
          &:link,
          &:hover,
          &:visited,
          &:active{
            color: @orange;
          }
        }
      }
    }
    &:first-child{
      ul > li{
        display: inline-block;
      }
    }
    &:last-child{
      text-transform: uppercase;
      font-size: 1.1vw;

      ul{
        margin-top: 70px;
        li{
          margin-right: 30px;
          display: inline-block;
          &::before{
            content: '';
            background: url(../images/pin.png) 0 15px no-repeat;
            padding: 45px 20px;
          }
        }
      }
    }
  }
}

.content{
  padding: 10px 40px;
  position: relative;
  &#home{

    &>div{
      overflow: auto;
      display: inline-block;
      width: 49%;
      #img-home{
        margin: 0 auto;
        display: block;
        border:4px @orange solid;
      }
    }
    &>div:last-child{
      position: absolute;
      padding: 0 30px;
      h1{
        padding: 20px;
        background-color: @orange;
        color: white;
      }
    }
  }
}

footer{
  img{
    width: 100%;
    display: block;
  }
}
