@import "normalize.less";
@import "variables.less";
@import "mixins.less";
@import "fonts.less";

*{
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}
.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
}

.row{
  width: 100%;
  padding: 20px;
  display: table;
  .col{
    display: table-cell;
    vertical-align: top;
    width: 49%;
  }
}

body{
  padding-top:30px;
  color:@black;

  h1, h2, h3{
    color: @orange;
    .heading-font;
    text-transform: uppercase;
  }
  a{
    text-decoration: none;
  }
  button{
    .heading-font(14pt);
    border: 0;
    color: white;
  }
}

header{
  overflow: auto;
  height:376px;
  background: url(../images/header.jpg) no-repeat;
  .background-cover();
  font-family: oswald;
  font-weight: bold;

  #logo{
    float:left
  }

  nav{
    float:right;
    clear: both;
    ul{
      li{
        a{
          &:link,
          &:hover,
          &:visited,
          &:active{
            color: @orange;
          }
        }
      }
    }
    &:first-child{
      ul > li{
        display: inline-block;
      }
    }
    &:last-child{
      text-transform: uppercase;
      font-size: 1.1vw;

      ul{
        margin-top: 70px;
        li{
          margin-right: 30px;
          display: inline-block;
          &::before{
            content: '';
            background: url(../images/pin.png) 0 15px no-repeat;
            padding: 45px 20px;
          }
        }
      }
    }
  }
}

.content{
  padding: 10px 40px;
  position: relative;
  background: url(../images/background.jpg);
  .background-cover;

  .img-90{
    width: 90% !important;
    .border-on-image
  }

  .form-split{
    padding: 0 30px;
    h1{
      padding: 10px;
      font-size: 40pt;
      color:white;
      margin-bottom: 10px;
      text-align: center;
      background-color: @orange;
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    div{
      padding:30px;
      background-color: @orange;
      color:white;
      .heading-font(12pt);
      input, select{
        border: 0;
        height: 40px;
        padding:2px 5px;
        color: #555;
      }
      button{
        display: block;
        .border-radius(5px);
        border: 4px white solid;
        background-color: @orange;
        .heading-font(1.5em);
        padding: 5px 10px;
        margin: 30px auto 0px
      }
    }
  }

  &#home{

    &>div{
      overflow: auto;
      display: inline-block;
      width: 49%;
      #img-home{
        .border-on-image
      }
    }
    &>div:last-child{
      padding: 0 30px;
      max-width: 650px;
      position: absolute;
      margin-left: -325px;
      left: 75%;

      #form{
        input, select{
          border: 0;
          height: 40px;
          padding:2px 5px;
          color: #555;
        }
        label{
          line-height: 30px
        }
      }
    }
  }

  &#contact{

    &>div{
      width: 70%;
      margin-top: 80px !important;
      padding: 50px 100px;
      background-color: white;
      .border-on-image(90px);
      .heading-font(12pt);
      color: @orange;

      input, textarea, select{
          display: block;
          clear: both;
          width: 100%;
          padding:2px 5px;
          color: #555;
        }
      }
      label{
        line-height: 30px;
      }

      button{
        background-color: @orange;
        display: block;
        margin: 20px auto;
        padding: 10px 20px;
      }
      small{
        color: #CCC;
        float: right;
      }
    }

    &#awards, &#howtowork{
      table{
        margin: 0 auto;
        min-width: 500px;
        font-weight: bold;
        text-align: center;
        color: @orange;

        thead > tr > th,
        tbody > tr > td{
          padding: 5px;
        }

        border: 1px @orange solid;
        border-collapse: collapse;

        thead{
          background-color: @orange;
          color: white;

          tr {
            text-align: center;
            vertical-align: middle;

            td:first-child{
              background-color: white;
              color: @orange;
            }
            td:not(:first-child) {
              border-right:1px solid white;
              border-top:1px solid white;
              height: 90px;

            }
          }
        }

        tbody > tr {

          td{
            border: 1px @orange solid;
            &:first-child{
              text-align: right;
              background-color: @orange;
              color: white;
              border-top: 2px white solid            
            }
          }
        }

      }
    }

    &#howtowork{
      img.img-responsive{
        border:20px @orange solid;
      }
    }

    &#ticket{
      .row{
        padding: 30px;
        div{
          display: table-cell;
          vertical-align: top;
          margin: 0 10px;
          padding: 10px 20px;
          &:nth-child(odd){
            width: 48%;
            text-align:justify;
            vertical-align: top;
          }
          &:not(.col){
            padding: 30px 60px;

          }
        }
      }
      .form-split{
        width: 70%;
        margin: 0 auto;
      }
    }

    &#faq{
      dl.accordion{
      	counter-reset: x-counter;

        a{
          &:link,
          &:hover,
          &:visited,
          &:active{
            color: @black;
            font-weight: bold;
          }

        }

        dt{
          margin: 10px;
          &:before{
            margin: 10px;
            color: @black;
            font-weight: bold;
          	content: counter(x-counter) "." ;
          	counter-increment: x-counter;
          }
        }
        dd{
          padding:20px;
          margin: 10px;
          border:1px @orange solid;
          .border-radius(5px);
        }
      }
    }

}

footer{
  img{
    width: 100%;
    display: block;
  }
}
